@import "compass/utilities/general/clearfix";

.media-gallery-branded-fullscreen {  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;  
  & *:focus {
    outline: none;
  }

  //DESKTOP
  &.desktop {
    @import "media-gallery-branded-desk";
  }

  //TABLET
  &.tablet {
    @import "media-gallery-branded-tab";
  }
  
  //MOBILE
  &.mobile {
    @import "media-gallery-branded-mob";
  }
  
  
}