@import "compass/utilities/general/clearfix";

.media-gallery-branded-fullscreen {  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;  
  & *:focus {
    outline: none;
  }

  //DESKTOP
  &.desktop {
    $heightHeight: 64px;
    $footerHeight: 42px;

    &.thumbs .mgb-main {
      width: calc(100% - 174px);
    }
    &.thumbs .mgb-asside {
      width: 174px;
    }


    .mgb-thumbs-button {
      display: inline-block;
      height: $heightHeight;
      width: $heightHeight;
      background: url($backboneImgBaseUrl + 'mgb/gallery-ico.png') no-repeat center 21px;
      //@include prefixed( background-size, "50% auto" );
      max-width: 10%;
    }
    &.thumbs .mgb-thumbs-button {
      background-position: center -24px;
    }

    .mgb-main {
      height: 100%;
      width: 100%;
      float: right;
      position: relative;
      transition: width .4s;
      .mgb-header{   
        height: $heightHeight;
        position: relative;
        .mgb-numers-w {
          display: inline-block;
          height: $heightHeight;
          line-height: $heightHeight;
          width: 10%;
          font-size: 14px;
          font-family: $font-family-noto;
        }
        .mgb-logo {
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          @include prefixed( transform, translate(-50%, -50%) );
          height: $heightHeight;
          width: 146px;     
          background: url($backboneImgBaseUrl + 'mgb/yasmina-logo.png') no-repeat center center;
          max-width: 60%;
          background-size: 100%;
          overflow: hidden;

        }
        .mgb-close-button {
          display: inline-block;
          height: $heightHeight;
          width: $heightHeight;
          background: url($backboneImgBaseUrl + 'mgb/close-ico.png') no-repeat center center;
          max-width: 20%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .mgb-content{
        height: calc(100% - #{$heightHeight} - #{$footerHeight});
        position: relative;
        .mgb-slider-w {
          position: relative;
          height: 100%;
          .mgb-slider{
            position: relative;
            height: 100%;

            .slick-list{
              position: relative;
              height: 100%;
              .slick-track{
                position: relative;
                height: 100%;
                .item {
                  position: relative;
                  height: 100%;
                  img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include prefixed( transform, translate(-50%, -50%) );
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
            }

            .mgb-prev{
              position: absolute;
              right: 0;
              top: 50%;
              @include prefixed( transform, translate(0, -50%) );
              background: url($backboneImgBaseUrl + 'mgb/right.png') no-repeat center center;
              width: 40px;
              height: 50px;
              z-index: 1;
            }
            .mgb-next{
              position: absolute;
              left: 0;
              top: 50%;
              @include prefixed( transform, translate(0, -50%) );
              background: url($backboneImgBaseUrl + 'mgb/left.png') no-repeat center center;
              width: 40px;
              height: 50px;

            }
          }
        }
      }
      .mgb-footer {
        height: $footerHeight;
        position: relative;
        .mgb-captions-w {
          $titleLineHeight: 19px;
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(255,255,255,0.8);
          max-height: $footerHeight; 
          transition: max-height 1s;
          .mgb-captions {

            .mgb-caption { 
              width: 100%;
              max-width: 600px;
              padding: 0 12px;
              &:hover {
                cursor: pointer;
              }
              h3 {
                margin: 12px 0 0 0;
                font-family: $font-family-kufi;
                font-weight: bold;                
                font-size: 11px;
                transition: all .4s;
                @include pie-clearfix;
                span {

                }
                .tx {
                  float: right;
                  overflow: hidden;
                  line-height: $titleLineHeight;
                  max-height:  $titleLineHeight;
                  color: black;
                  max-width: calc( 100% - 85px );
                  padding-left: 8px;
                  transition: max-height .5s;
                }
                .ui {
                  float: right;
                  overflow: hidden;
                  width: 85px;
                  height: $titleLineHeight;
                  line-height: $titleLineHeight;
                  padding-left: 12px;
                  color: $gold;
                  background: url($backboneImgBaseUrl + 'mgb/arrow-ico.png') no-repeat left 7px;
                  transition: all .5s;
                }
              }
              p {
                font-family: $font-family-naskh;
                font-size: 14px;
                line-height: 19px;
                color: black;
              }
            }
          }
        }
        .mgb-captions-w.opened {
          max-height: 1000px;
          .mgb-captions {
            .mgb-caption { 
              width: 100%;
              max-width: 600px;
              h3 {
                .tx {
                  max-height: 600px;
                }
                .ui {
                  width: 0px;
                  font-size: 0;
                }
              }
            }
          }
        }
        .mgb-share-w {          
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          @include pie-clearfix;
          .mgb-share {
            vertical-align: middle;
            & > div {
              float: right;

              width: 38px;
              height: 38px;  
              &:hover {
                cursor:pointer;
              }              
            }
            #facebook_share {
              background: url($backboneImgBaseUrl + 'mgb/fb-ico.png') no-repeat center center;
            }
            #twitter_share {
              background: url($backboneImgBaseUrl + 'mgb/twitter-ico.png') no-repeat center center;
            }
            #gplus_share {
              background: url($backboneImgBaseUrl + 'mgb/gplus-ico.png') no-repeat center center;
            }
            #whatsapp_share {
              display: none; 
            }
          }
        }
      }







    }

    .mgb-asside {
      width: 0;
      height: 100%;
      padding: 42px 0;
      float: right;
      transition: width .4s;
      position: relative;
      .mgb-thumbs-w {
        overflow: hidden;
        height: 100%;
        .mgb-thumbs {
          transition-timing-function: linear!important;
          .mgb-thumb {
            display: block;
            padding: 5px 32px; 
            position: relative;
            img {
              width: auto;
              max-width: none;
              transition: opacity .5s;
            }
            span {
              display: none;
              position: absolute;
              position: absolute;
              left: 50%;
              top: 50%;
              @include prefixed( transform, translate(-50%, -50%) );
              color: $gold;
              font-family: $font-family-noto;
              font-size: 18px;
              line-height: 18px;

            }
            &.mgb-thumb-active, &:hover {
              img {
                opacity: 0.4;
              }
              span {
                display: inline-block;
              }
            }
          }
        }
      }
      #mgb-thumbs-up {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 42px;
        background: url($backboneImgBaseUrl + 'mgb/up.png') no-repeat center center;
      }
      #mgb-thumbs-dw {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 42px;
        background: url($backboneImgBaseUrl + 'mgb/down.png') no-repeat center center;
      }
    }   

  }
}