@mixin prefixed($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

$font-family-naskh: "Noto Naskh Arabic", serif, "Noto Serif", serif !default;
$font-family-kufi: "Noto Kufi Arabic", serif, "Noto Serif", serif !default;
$font-family-noto: "Noto Serif", serif !default;

// // // // // //  NOT IN FULL SCREEN  // // // // // //

.article-gallery {
  position: relative;
  .mg-start:hover {
    cursor: pointer;
  }
  // ux
  .mg-start:hover {
    a {
      text-decoration: none;
    }
    img {
      opacity: 0.8;
    }
    .mg-zoom-icon {
      opacity: 1;
      //width: 45px;
    }
  }
  .mg-item img {
    transition: width .2s, opacity .2s;
  }
  // show only first
  .mg-item,
  .mg-related-item,
  .mg-capt,
  h3 {
    margin: 0;
    opacity: 0.001;
    width: 1px;
    height: 1px;
    z-index: -1;
    position: absolute;
    overflow: hidden;
  }
  .mg-item:first-child {
    opacity: 1;
    width: 100%;
    height: auto;
    z-index: auto;
    position: relative;
  }
  .mg-zoom-icon-polygon {
    position: relative;
    .mg-zoom-icon {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 39px;
    }
  }
}


// // // // // //  FULL SCREEN ALL MEDIA // // // // // //

#dwf-fullscreen-wrap {
  color: white;
  width: 100%;
  background-color: black;
  .media-gallery-fullscreen {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    //white-space: nowrap;
    position: relative;
    .mg-close {
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url($backboneImgBaseUrl + 'media-gallery-close-ico.png');
      &:hover {
        outline: 1px solid gray;
      }  
    }
    .mg-share {
      $height: rem-calc(43);
      position: relative;
      overflow: hidden;
      .share_btn {
        position: relative;
        overflow: hidden;
        width: 31%;
        float: right;
        margin: rem-calc(40) 1%;
        box-sizing: border-box;
        text-align: center;
        .box {
          box-sizing: border-box;
          display: inline-block;
          width: 100%;
          max-width: 130px;
          color: white;
          .count {     
            font-size: 1rem;
            line-height: $height;
            vertical-align: middle;
            box-sizing: border-box;
            width: 33%;
            text-align: center;
            display: inline-block;
            height: $height;
            border-right: 1px solid white;
            overflow: hidden;
            font-family: $font-family-noto;
          }
          .share {
            font-weight: bold;
            font-size: 1rem;
            text-align: right;
            white-space: nowrap;
            line-height: $height;
            vertical-align: middle;
            box-sizing: border-box;
            width: 66%;
            display: inline-block;
            overflow: hidden;
            font-family: $font-family-naskh;
            span {
              text-align: center;
              display: inline-block;
              width: 45px;
            }
            img {
              width: 30%;
              vertical-align: top;
              width: 25px;
            }
          }
        }
      }
      #facebook_share .box  {
        background-color: #44589c;
        .count {
          border-right: 1px solid #6171a8;
        }
        img {
          margin-top: 10px;
        }
      }

      #whatsapp_share .box {

        background-color: #30ba45;
        img {
          margin-top: 10px;
        }
      }

      #twitter_share .box {
        background-color: #3eaaf1;
        .count {
          border-right: 1px solid #80c7f6;
        }
        img {
          margin-top: 8px;
        }
      }
      #gplus_share .box {
        background-color: #d75037;
        .count {
          border-right: 1px solid #e79687;
        }
        img {
          margin-top: 8px;
          margin-right: 3px;
        }
      }
    } 
    .mg-titles {
      height: 5rem;
      .num {
        font-size: .875rem;
        line-height: 1.5rem;
      }
      h3 {
        //font-size: 1.125rem/1.625rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: .75rem 0;
        height: 3rem;
        position: relative;
        overflow: hidden;
      }      
    }
    .mg-captions {
      height: 7rem;
      overflow: hidden;
      position: relative;
      p {
        //font-size: 1rem/1.375rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      a {
        color: $gold;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .mg-main {
      vertical-align: top;
      .mg-slider-w {
        & > * {
          vertical-align: middle;        
        }
        text-align:center;
        .owl-item {
          overflow: hidden;
          position: relative;
          .item img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            @include prefixed( transform, translate(-50%, -50%) );
            max-width: 100%;
            max-height: 100%;
            padding: 0 3px;
          }
        }
        .owl-controls{
          margin: 0;
          .owl-buttons {
            width: 100%;
            left: 0;
            position: absolute;
            bottom: 50%;
            height: 0;
            .owl-prev, 
            .owl-next { 
              // :( overiding owl.theme.css
              color: auto;
              display: inline-block;
              zoom: 1;
              margin: 0;
              padding: 0;
              font-size: normal;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
              //background: none; 
              filter: Alpha(Opacity=100);
              opacity: 1;
              z-index: 1000;
            }
            & .owl-prev,
            & .owl-next{
              box-sizing: border-box;
              position: absolute;
              top: -38px;
              width: 56px;
              height: 76px;
              background-color: rgba(0,0,0,0.5);
              background-repeat: no-repeat;
              background-position: center center;
            }
            & > div:hover {
              outline: 1px solid gray;
            }
            .owl-prev{
              left: 3px;
              background-image: url($backboneImgBaseUrl + 'media-gallery-left.png');
            }
            .owl-next{
              right: 3px; 
              background-image: url($backboneImgBaseUrl + 'media-gallery-right.png');
            }
          }
        }
      }

    }
    .mg-related {
      padding: 0 15% 0;
      margin: 0 .3%;
      background-color: #2b2b2b;
      //position: relative;
      h3 {
        font-size: 16px;
        padding-top: 24px;
        margin-bottom: 20px;
        margin-top: 0;
        font-family: $font-family-kufi;
      }      
      .mg-related-item {
        padding: 0 3.33% 3.33%;
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        img {
          width: 100%;
        }
        .mg-related-title {
          text-align: right;
          font-size: 16px;
          line-height: 26px;
          max-height: 52px;
          overflow: hidden;
          position: relative;
          vertical-align: middle;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box; 
          transition: color 0.6s;
        }
        &:hover .mg-related-title {
          color: #bebebe!important;
        }
      }

    }
    &.banner-active-item {
      .mg-titles-w {
        visibility: hidden;
      }      
      .mg-captions-w, .mg-social-w {
        height: 0!important;
        overflow: hidden!important;
      }
    }
  }

  // // // // // //  DESKTOP  // // // // // //  

  .media-gallery-fullscreen.desktop {
    .mg-header {
      position: relative;
      height: 130px;
      text-align: center;
    }
    .mg-main {
      display: inline-block!important;
      width: 48%;
      margin-right: 2%;
      .mg-related {
        //position: relative;
        .mg-related-item {
          .mg-related-title {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            height: 40px;
            margin-bottom: 30px;
          }
        }
      }
    }
    .mg-asside {
      position: relative;
      display: inline-block;
      width: 41%;
      margin: 0 7% 0 2%;
      vertical-align: top;
      & > * {
        vertical-align: middle;
        box-sizing: border-box;
      }
      .mg-numers-w {
        .num {
          font-family: $font-family-noto;
          font-size: rem-calc(16);
          color: #fff;
          white-space: nowrap
        }
      }
      .mg-titles {
        height: 0;
        overflow: hidden;
        h3 {
          font-family: $font-family-kufi;
          font-size: rem-calc(18);
          line-height: rem-calc(26);
          color: #bebebe;
          margin: .75rem 0 0;
          height: auto;
        }
      }
      .mg-captions {
        height: 0;
        overflow: hidden;
        p {
          font-family: $font-family-naskh;
          font-size: rem-calc(16);
          line-height: rem-calc(22);
          color: #676767;
          margin-top: rem-calc(40);
          margin-bottom: 0;
          &:empty {
            margin-top: 0;
          }
        }
      }
    }
    .mg-close {
      left: 2px;
      bottom: 0px;
    }
    .mg-banner-a {
      display: inline-block;
      width: 728px;
      height: 90px;
      margin-top: 0px;        
    }
    .mg-banner-b {
      text-align: left;
      margin-left: 8%;
    }
  }    

  // // // // // //  MOBIL  // // // // // //  


  .media-gallery-fullscreen.mobile {
    $mg-mob-ident: 2%;
    $below-header: 50px;
    box-sizing: border-box;
    padding: 0 0;
    .mg-header {
      text-align: center;
      height: 66px;
      margin-bottom: $below-header;
      position: relative;
      .mg-banner-a-mob {
        height: 50px;
        margin-top: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .mg-numers-w {
      position: absolute;
      bottom: -$below-header;
      height: $below-header;
      margin-right: $mg-mob-ident;
      .num {
        line-height: $below-header;
        height: $below-header;
        vertical-align: middle;
        font-family: $font-family-noto;
        font-size: rem-calc(24);
        font-weight: bold;
        white-space: nowrap
      }     
    }

    .mg-titles-w {
      padding: 0 $mg-mob-ident;
      position: relative;
      height: auto;
      text-align: right;
      width: 100%;
      .mg-title {
        h3 {
          color: #bbb;
          font-size: rem-calc(20);
          line-height: rem-calc(36);
          height: auto;
          margin: 0;
          font-family: $font-family-kufi;
        }
        h3:empty {
          margin: 0;          
        }
      }
    }
    .mg-close {
      left: 0;
      bottom: -50px;
      z-index: 9999;
      margin-left: $mg-mob-ident;
    }

    .mg-related .mg-related-item .mg-related-title {
      font-size: rem-calc(16)!important;
      line-height: rem-calc(26)!important;
      height:  rem-calc(78);
      max-height: none;
      color: #fff;
    }

    .mg-main {
      padding: 0 $mg-mob-ident;
      .mg-related {
        .mg-related-item { 
          display: none;
        }
        .mg-related-item-1,
        .mg-related-item-2,
        .mg-related-item-3,
        .mg-related-item-4 { 
          display: inline-block;
        }
      }     
    }
    .mg-asside {
      padding: 0 $mg-mob-ident;
      .mg-captions {
        height: auto;
        .mg-caption {
          p {
            color: #676767;
            font-size: rem-calc(20);
            line-height: rem-calc(34);
            margin-top: rem-calc(40);
            margin-bottom: rem-calc(40);
            &:empty {
              margin-top: 0;
            }
          }
        }
      }
    }


    .mg-share {
      text-align: center;
      line-height:0;
      .share_btn {
        line-height: normal;
        margin: rem-calc(40) 0;
        display: inline-block;
        float: none;
        .box {
          height: 45px;
          .share {
            span {
              display: none;
            }
          }
        }
      }
    }
    #facebook_share {
      width: 113px;
      .box  {
        .count {
          width: 70px;
          height: 45px;
        }
        .share {
          width: 43px;
          height: 45px;
          img {
            margin-right: 8px;
          }      
        }       
      }
    }

    #whatsapp_share { 
      width: 45px;
      margin-right: 10px;
      .box  {
        max-width: 45px;
      }
    }

    #twitter_share {
      margin-left: 10px;
      margin-right: 10px;
      width: 45px;
      .box {
        max-width: 45px;
        .count {
          display: none;
        }
        .share {
          img {
            margin-top: 10px;
          }         
        }     
      }
    }
    #gplus_share {
      width: 45px;
      .box {
        max-width: 45px;
        .count {
          display: none;
        }
      }
    }
  }
  
  // // // // // //  MOBIL  // // // // // //  
  .media-gallery-fullscreen.mobile {
    .mg-header {
      height: 90px;
    }
  }

  .clearfix {
  }
}