$zoomFactor: 1.67;

$headerHeight: #{$zoomFactor * 64}px;
$footerHeight: #{$zoomFactor * 42}px;

& {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;  
  z-index: $zIndexBase;
  & *:focus {
    outline: none;
  }
}

&.thumbs .mgb-asside {
  left: 0%;
}
.mgb-thumbs-button {
  display: inline-block;
  height: $headerHeight;
  width: $headerHeight;
  background: url('#{$backboneImgBaseUrl}mgb/gallery-ico.svg') no-repeat -27% -24%;
  background-size: 160%;
  max-width: 10%;
}
&.thumbs .mgb-thumbs-button {
  background-position: -28% 108%;
}

.mgb-main {
  height: 100%;
  width: 100%;
  float: right;
  position: relative;
  transition: width .4s;
  .mgb-header {   
    height: $headerHeight;
    position: relative;
    .mgb-numers-w {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;
      width: 10%;
      font-size: #{$zoomFactor * 14p}x;
      font-family: $font-family-noto;
      color: #a3a3a3;
    }
    .mgb-logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      @include prefixed( transform, translate(-50%, -50%) );
      height: $headerHeight;
      width: #{$zoomFactor * 146}px;     
      background: url('#{$backboneImgBaseUrl}mgb/yasmina-logo.svg') no-repeat center center;
      max-width: 60%;
      background-size: 100%;
      overflow: hidden;
    }
    .mgb-close-button {
      display: inline-block;
      height: $headerHeight;
      width: $headerHeight;
      background: url('#{$backboneImgBaseUrl}mgb/close-ico.svg') no-repeat center center;
      background-size: 35%;
      max-width: 20%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .mgb-content{
    //height: calc(100% - #{$headerHeight} - #{$footerHeight});

    position: absolute;
    left: 0;
    right: 0;
    top: $headerHeight;
    bottom: $footerHeight;

    .mgb-slider-w {
      position: relative;
      height: 100%;
      .mgb-slider{
        position: relative;
        height: 100%;

        .slick-list{
          position: relative;
          height: 100%;
          .slick-track{
            position: relative;
            height: 100%;
            .item {
              position: relative;
              height: 100%;
              .img-w {
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                @include prefixed( transform, translate(-50%, -50%) );
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  max-width: none;
                  max-height: none;
                  padding: 0 8px;
                }                
              }
            }
          }
        }
        .mgb-prev{
          display: none!important;
          position: absolute;
          right: 0;
          top: 50%;
          @include prefixed( transform, translate3d(0, -50%, 1px) );
          background: url('#{$backboneImgBaseUrl}mgb/right.svg') no-repeat center center;
          width: 40px;
          height: 50px;
          z-index: $zIndexBase + 1;
        }
        .mgb-next{
          display: none!important;
          position: absolute;
          left: 0;
          top: 50%;
          @include prefixed( transform, translate3d(0, -50%, 1px) );
          background: url('#{$backboneImgBaseUrl}mgb/left.svg') no-repeat center center;
          width: 40px;
          height: 50px;

        }
      }
    }
  }
  .mgb-footer {
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .mgb-captions-w {
      $titleLineHeight: #{$zoomFactor * 19}px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(255,255,255,0.8);
      max-height: $footerHeight; 
      min-height: $footerHeight; 
      transition: max-height 1s;
      .mgb-captions {

        .mgb-caption { 
          width: 100%;
          max-width: #{$zoomFactor * 600}px;
          padding: 0 #{$zoomFactor * 12}px;
          font-size: 0;
          h3 {
            margin: #{$zoomFactor * 14}px 0 0 0;
            font-family: $font-family-kufi;
            font-weight: bold;                
            font-size: #{$zoomFactor * 11}px;
            transition: all .5s;
            display: inline-block;
            position: relative;
            line-height: $titleLineHeight;
            .tx {
              display: inline-block;
              overflow: hidden;
              line-height: $titleLineHeight;
              max-height:  $titleLineHeight;
              color: black;
              transition: max-height .5s;
            }
            .ui {
              opacity: 1;
              position: absolute;
              right: 100%;
              top: 0;
              display: inline-block;
              width: #{$zoomFactor * 48}px;
              line-height: $titleLineHeight;
              height: $titleLineHeight;
              color: $theColor;
              background: url('#{$backboneImgBaseUrl}mgb/arrow-ico.png') no-repeat left 14px;
              transition: width .5s, font-size .5s, opacity .5s;
              margin-right: #{$zoomFactor * 4}px;
              &:after {
                content: 'المزيد';
              }
            }
          }
          p {
            font-family: $font-family-naskh;
            font-size: #{$zoomFactor * 14}px;
            line-height: #{$zoomFactor * 19}px;
            color: black;
          }
          p:empty {
            margin: 0;
          }
        }
      }
    }
    .mgb-captions-w .mgb-captions .mgb-caption.empty .ui {
      opacity: 0;
    }    
    .mgb-captions-w.opened {
      max-height: #{$zoomFactor * 1000}px;
      .mgb-captions {
        .mgb-caption { 
          width: 100%;
          //max-width: 600px;
          h3 {
            .tx {
              max-height: #{$zoomFactor * 600}px;
              transition: max-height 0s;
            }
            .ui {
              width: #{$zoomFactor * 10}px;
              font-size: 0;
              background-position: left -10px;
            }
          }
        }
      }
    }
    .mgb-share-w {          
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: $zIndexBase + 1;
      @include clearfix;
      .mgb-share {
        vertical-align: middle;
        & > div {
          float: right;
          width: $footerHeight;
          height: $footerHeight;         
        }
        #facebook_share {
          background: url('#{$backboneImgBaseUrl}mgb/fb.svg') no-repeat center center;
          background-size: 80% 80%;
        }
        #twitter_share {
          background: url('#{$backboneImgBaseUrl}mgb/tw.svg') no-repeat center center;
          background-size: 80% 80%;
        }
        #gplus_share {
          background: url('#{$backboneImgBaseUrl}mgb/gp.svg') no-repeat center center;
          background-size: 80% 80%;
        }
        #whatsapp_share {
          display: none; 
        }
      }
    }
  }
}
.mgb-asside {
  @include prefixed( transform, translate(0, 0) );
  width: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  transition: all .5s;
  z-index: $zIndexBase + 6;
  background-color: white; 
  .mgb-asside-header {
    height: $headerHeight;
    width: 100%;
    background-color: white;
    position: relative;
    .mgb-logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      @include prefixed( transform, translate(-50%, -50%) );
      height: $headerHeight;
      width: #{$zoomFactor * 146}px;     
      background: url('#{$backboneImgBaseUrl}mgb/yasmina-logo.svg') no-repeat center center;
      max-width: 60%;
      background-size: 100%;
      overflow: hidden;
    }
    .mgb-thumbs-close {
      display: inline-block;
      height: $headerHeight;
      width: $headerHeight;
      background: url('#{$backboneImgBaseUrl}mgb/arrow-tablet.svg') no-repeat center center;
      background-size: 35%;
      max-width: 20%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
  .mgb-thumbs-w {
    overflow: hidden;
    max-width: #{$zoomFactor * 640}px;
    width: 100%;
    left: 50%;
    @include prefixed( transform, translate(-50%, 0) );
    position: absolute;
    top: $headerHeight;
    bottom: 0;
    .mgb-thumbs {
      position: relative;
      transition-timing-function: linear!important;
      @include clearfix;
      .mgb-thumb {
        width: 29.33%;
        margin: 0 2% 4%;
        position: relative;
        float: right;
        img {
          width: 100%;
          max-width: none;
          transition: opacity .5s;
        }
        span {
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 42px;
          height: 42px;
          line-height: 42px;
          font-size: 25px;
          color: white;
          font-family: $font-family-noto;             
          background-color: black;
          text-align: center;
        }
        &.mgb-thumb-active {
          img {
            opacity: 0.4;
          }
        }
      }
    }
  }

  @media screen and (max-width: #{$zoomFactor * 768}px) {
    .mgb-thumbs-w {
      max-width: #{$zoomFactor * 600}px;
      width: 100%;
      margin: 0 auto;
      .mgb-thumbs .mgb-thumb {
        width: 46%;
        margin: 0 2% 4%;
      }
    }


  }


}   

